:root {
    --track-height: 10px;
    --track-width: 200px;
    --track-color: #dedede;
    --thumb-color: #9e9e9e;
    --button-color: #dedede;
    --buttontext-color: #7d7d7d;
    --hover-color: whitesmoke;
    --link-blue: #007BFF;
--delete-color: #007BFF;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23.4px;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

#container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#noteArea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    resize: none;
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
    font-family: monospace;
}

#noteArea:focus {
    outline: none;
}

input[type=range] {
    position: fixed;
    bottom: var(--track-height);
    right: var(--track-height);
    width: var(--track-width);
    -webkit-appearance: none;
    appearance: none;
    background: var(--track-color);
    border-radius: calc(var(--track-height) / 2);
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--track-height);
    height: var(--track-height);
    background: var(--thumb-color);
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: var(--track-height);
    height: var(--track-height);
    background: var(--thumb-color);
    border-radius: 50%;
    cursor: pointer;
}

#linkButtonContainer {
    position: fixed;
    top: var(--track-height);
    right: var(--track-height);
}

#linkButton {
    background-color: var(--button-color);
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    color: var(--buttontext-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid whitesmoke;
    margin: 0;
    border: none;
}

#linkButton:hover,
#linkButton.active,
#linkButton.active:hover {
    background-color: var(--link-blue);
    color: white;
    border: 0px;
}

#clearTextButton {
    background-color: var(--button-color);
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: var(--buttontext-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 5px; /* Añadir espacio entre los botones si es necesario */
}

#clearTextButton:hover {
    background-color: var(--link-blue);
    color: white;
    border: 0px;
}
